.container {
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  background-color: var(--bg-main-color);
  transition: all ease-in-out 0.3s;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "topBar topBar"
    "sidebar main";
}

.open {
  grid-template-columns: 74px 1fr;
}

.topBar {
  grid-area: topBar;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  height: 100%;
  grid-area: main;
  overflow: scroll;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      " topBar"
      " main";
  }

  .sidebar {
    position: absolute;
    left: -100%;
    top: 70px;
    height: calc(100vh - 70px);
    width: 240px;
    background-color: var(--bg-main-color);
    z-index: 999;
    transition: left 0.3s ease-in-out;
  }

  .mobileMenuOpen .sidebar {
    left: 0;
  }
}
