.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary-color);
  transition: background-color ease-in-out 0.3s;
  display: flex;
  justify-content: space-between;
}

.left_container {
  padding: 15px;
  width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  color: var(--text-color);
}

.right_container {
  width: calc(100% - 240px);
  padding: 13px 15px 13px 13px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  color: var(--text-color);
}

.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px 5px 8px;
  border: 2px solid transparent;
  border-radius: 6px;

  &_img {
    height: 34px;
    width: 34px;
  }
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_name {
    font-size: 14px;
  }

  &_role {
    font-size: 12px;
  }
  &:hover {
    border: 2px solid #4880ff;
  }

  &_active {
    border: 2px solid #4880ff;
  }
}

.menu_button {
  cursor: pointer;
  background-color: inherit;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: background-color ease-in-out 0.3s;
  aspect-ratio: 1 / 1;
  border: 2px solid transparent;

  &_icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    border: 2px solid #4880ff;
  }
}

.skeleton {
  min-width: 150px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px 5px 8px;
  border-radius: 6px;

  &_img {
    height: 34px;
    width: 34px;
    background-color: #e0e0e0;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
  }
  &_block {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;

    &_text {
      width: 88px;
      height: 10px;
      border-radius: 2px;
      background-color: #e0e0e0;
      animation: pulse 1.5s infinite ease-in-out;
    }
    &_role {
      width: 40px;
      height: 10px;
      border-radius: 2px;
      background-color: #e0e0e0;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .menu_button {
    display: none;
  }
}

@media (max-width: 600px) {
  .left_container,
  .right_container {
    width: auto;
  }
}
