.overlay {
  inset: 0px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.text {
  color: var(--text-color);
}

.global {
  position: fixed;
  border-radius: 0px;
}

.local {
  position: absolute;
  border-radius: 6px;
}

.modal {
  background-color: var(--bg-main-color);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.big {
  min-width: 350px;
  width: auto;
  padding: 40px;
  row-gap: 40px;
  .text {
    font-size: 20px;
  }
}

.medium {
  width: 350px;
  padding: 30px;
  row-gap: 30px;
  .text {
    font-size: 16px;
  }
}

.small {
  width: auto;
  min-width: 200px;
  padding: 20px;
  row-gap: 20px;
  .text {
    font-size: 14px;
  }
}

.buttons {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.btn {
  text-wrap: nowrap;
  width: 50%;
}
