/* ConfirmModal.module.scss */
.overlay {
  position: absolute;
  inset: -2px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--bg-main-color);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.text {
  font-size: 16px;
}

.buttons {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.btn {
  font-size: 14px;
  text-wrap: nowrap;
  width: 50%;
}
