.container {
  height: 100%;
  display: flex;
  column-gap: 5px;

  &_btn {
    cursor: pointer;
    height: 100%;
    padding: 7.5px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    color: var(--text-color);

    &_icon {
      width: 20px;
      height: 20px;
    }

    &:hover {
      border-color: #4880ff;
    }

    &_active {
      background-color: #4880ff;
      color: white;
    }
  }
}

.tooltip {
  background-color: #4880ff !important;
  font-size: 14px !important;
  padding: 10px !important;
}
