.task {
  &_container {
    width: 100%;
    padding: 10px;
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 2px solid transparent;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      cursor: pointer;
      border-color: #4880ff;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 10px;
  }
  &_description {
    font-size: 14px;
    color: var(--text-secondary-color);
  }
  &_buttons {
    display: flex;
    column-gap: 8px;
  }
}
