.container {
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: none;
  row-gap: 11px;
}

.big {
  &_label {
    font-size: 18px;
  }
  &_input {
    font-size: 18px;
    padding: 16px;
  }
}

.medium {
  &_label {
    font-size: 16px;
  }
  &_input {
    font-size: 16px;
    padding: 12px;
  }
}

.small {
  &_label {
    font-size: 14px;
  }
  &_input {
    font-size: 14px;
    padding: 8.5px;
  }
}

.input {
  border: 2px solid var(--input-border-color);
  border-radius: 8px;
  color: var(--text-color);
  background-color: var(--bg-input-color);
  outline: none;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: var(--input-placeholder-text);
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:hover:not(:disabled),
  &:focus-visible {
    border-color: var(--input-border-hover-color);
  }
  &_error {
    border-color: #ea0234;
    &:hover:not(:focus-visible) {
      border-color: #ea0234;
    }
  }
}

.eyeIcon {
  pointer-events: auto;
  position: absolute;
  top: 52px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: var(--input-placeholder-text);
}

.error_container {
  width: 100%;
  color: #ea0234;
  font-family: "Nunito-600";
  font-size: 14px;
  padding: 0 5px;
}
