.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin-top: 37px;
}

.title {
  font-family: "Nunito-700";
  font-size: 32px;
}
.sub_title {
  margin-top: 10px;
  text-align: center;
}

.buttons_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.back_button {
  text-decoration: none;
  color: #4880ff;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(0.95);
  }
}
