.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito-700";
  border: 2px solid;
  outline: none;
  transition: all 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }
}

.title {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

// button size
.big {
  width: 100%;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 8px;

  &_btn_with_icon {
    column-gap: 15px;

    &.collaps_to_icon,
    &.btn_collaps_text_to_icon {
      @media (max-width: 600px) {
        padding: 15px;
      }
    }

    &.btn_show_only_icon {
      padding: 15px;
    }
  }

  &_icon {
    min-width: 25px;
    max-width: 25px;
    height: 25px;

    &.icon_collaps_text_to_icon {
      display: none;

      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }
}

.medium {
  width: auto;
  font-size: 14px;
  padding: 8.5px 17px;
  border-radius: 6px;

  &_btn_with_icon {
    column-gap: 10px;

    &.collaps_to_icon,
    &.btn_collaps_text_to_icon {
      @media (max-width: 600px) {
        padding: 8.5px;
      }
    }

    &.btn_show_only_icon {
      padding: 8.5px;
    }
  }

  &_icon {
    min-width: 20px;
    max-width: 20px;
    height: 20px;

    &.icon_collaps_text_to_icon {
      display: none;

      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }
}

.small {
  width: auto;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
  border-width: 1px;

  &_btn_with_icon {
    column-gap: 5px;

    &.collaps_to_icon,
    &.btn_collaps_text_to_icon {
      @media (max-width: 600px) {
        padding: 3px;
      }
    }

    &.btn_show_only_icon {
      padding: 3px;
    }
  }

  &_icon {
    min-width: 16px;
    max-width: 16px;
    height: 16px;

    &.icon_collaps_text_to_icon {
      display: none;

      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }
}

.btn_show_only_icon {
  .title {
    display: none;
  }
}

.collaps_to_icon,
.btn_collaps_text_to_icon {
  @media (max-width: 600px) {
    .title {
      display: none;
    }
  }
}

// button styles
.filled {
  color: #fff;
  background-color: #4880ff;
  border-color: #4880ff;
  &:hover:not(:disabled) {
    color: #4880ff;
    background-color: transparent;
  }
  &:disabled {
    border-color: #6f9aff;
    background-color: #6f9aff;
    color: #fff;
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.warning {
  color: #fff;
  background-color: #f52525;
  border-color: #f52525;
  &:hover:not(:disabled) {
    color: #f52525;
    background-color: transparent;
  }
  &:disabled {
    border-color: #f85656;
    color: #f85656;
    color: #fff;
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.outline {
  color: #4880ff;
  background-color: transparent;
  border-color: #4880ff;
  &:hover:not(:disabled) {
    color: #fff;
    background-color: #4880ff;
  }
  &:disabled {
    border-color: #6f9aff;
    color: #6f9aff;
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.warningOutline {
  color: #f52525;
  background-color: transparent;
  border-color: #f52525;
  &:hover:not(:disabled) {
    color: #fff;
    background-color: #f52525;
  }
  &:disabled {
    border-color: #f85656;
    color: #f85656;
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.link {
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
  &:hover:not(:disabled) {
    color: var(--text-color);
    border-color: #4880ff;
  }
  &:disabled {
    border-color: transparent;
    background-color: transparent;
    color: var(--text-color);
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}


.tooltip {
  background-color: #4880ff !important;
  font-size: 12px !important;
  padding: 5px !important;
  z-index: 9999;
}