.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary-color);
  transition: background-color ease-in-out 0.3s;
  overflow-x: hidden;
}

.menu {
  height: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.collapse_button_container {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.collapse_button {
  cursor: pointer;
  background-color: inherit;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: background-color ease-in-out 0.3s;
  aspect-ratio: 1 / 1;
  border: 2px solid transparent;

  &_icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    border: 2px solid #4880ff;
  }
}
.tooltip {
  background-color: #4880ff !important;
  font-size: 14px !important;
}

@media (max-width: 1024px) {
  .collapse_button_container {
    display: none;
  }
  .tooltip {
    display: none;
  }
}
