.skeleton {
  padding: 15px 20px;
  border-bottom: 1px solid var(--bg-tertiary-color);
  &_block {
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 4px;
    height: 19px;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
