.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Nunito-700";
  font-size: 32px;
}
.sub_title {
  margin-top: 10px;
}

.inputs_container {
  display: flex;
  width: 100%;
  margin-top: 37px;
  flex-direction: column;
  row-gap: 30px;
}

.buttons_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.counter {
  color: #a6a6a6;
}

.resend_button {
  cursor: pointer;
  text-decoration: none;
  color: #4880ff;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(0.95);
  }
}
